.container {

    width: 400px;
}

.color_input, .storage_btn {
    margin-left: 3px;
}

.inner_voice {
    margin-left: 15px;
}

.key{
    width:  30px;
    height: 25px;
    background-color: #D3D3D3;
    display: block;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 29px;
    border-radius:2px;
    margin-left: 2px;
    margin-bottom:2px;
    float: left;
    transition: box-shadow 0.7s ease;
}

.plus_key {
    width: 20px;
    height:25px;
    display: block;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 29px;
    margin-left: 2px;
    margin-bottom:2px;
    float:left;
}
